<ion-header>
  <ion-toolbar color="secundario">
    <ion-grid>
      <ion-row>
        <ion-col size="2" text-center>
          <ion-icon (click)="closeModal()" name="arrow-forward" color="acentuado"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-title>{{nombreUser}}</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-text text-center expand="full">Nombre: </ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-input type="text" value="{{nombreUser}}"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-text>E-mail: </ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-input type="number" value="{{emailUsuario}}"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-text>Nodos del usuario: </ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-input type="text" value="{{nodosUser}}"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>