<ion-header>
  <ion-toolbar color="secundario">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="2">
          <ion-buttons>
            <ion-menu-button color="acentuado"></ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="10" class="ion-align-items-center ion-justify-content-center">
          <ion-title color="acentuado">
            <h1>Rutas</h1>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Rutas</ion-label>
    <ion-select ok-text="Aceptar" cancel-text="Cancelar" placeholde="Elige una ruta">
      <ion-select-option *ngFor="let p of rutes" value="p.name">{{p.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <div #mapElement class="mapElement" expand="full"></div>
</ion-content>