<app-header title="Rutas"></app-header>
<ion-content>
    <ion-item class="ion-align-items-center ion-justify-content-center" expand="full" slot="fixed" color="secundario">
        <ion-label>
            <h3>Capas</h3>
        </ion-label>
        <ion-select name="selectCapa" multiple="true" cancelText="Cancelar" okText="Aceptar"
            (ionChange)="onSelectCapaChange($event.target.value)" color="secundario">
            <ion-select-option selected="true" value="o3" color="acentuado">Ozono</ion-select-option>
            <ion-select-option value="co" color="acentuado">Monóxido de carbono</ion-select-option>
            <ion-select-option value="so2" color="acentuado">Dióxido de azufre</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item color="secundario" class="ion-align-items-center ion-justify-content-center" expand="full" slot="fixed">
        <ion-label>
            <h3>Selecciona tu ruta</h3>
        </ion-label>
        <ion-select name="selectRute" [selectedText]="selectedRute" [(ngModel)]="selectedRute"
            (ionChange)="ruteSelected()" multiple="false" required>
            <ion-select-option *ngFor="let rute of rutes" value="{{rute.name}}" color="acentuado">
                {{rute.name}}
            </ion-select-option>
        </ion-select>
    </ion-item>
    <div #mapElement class="mapElement"></div>
</ion-content>