<ion-header>
  <ion-toolbar color="secundario">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="2">
          <ion-buttons>
            <ion-menu-button color="acentuado"></ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="10" class="ion-align-items-center ion-justify-content-center">
          <ion-title color="acentuado">
            <h1>+Info</h1>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header><ion-title>Última medida:</ion-title></ion-list-header>
        <ion-item>
          <ion-label>hora: </ion-label>
          <ion-label slot="end">{{tiempo}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Valor ozono: </ion-label>
          <ion-label slot="end">{{ozono}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>