<ion-header>
    <ion-toolbar color="secundario">
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="2">
            <ion-buttons>
              <ion-menu-button color="acentuado"></ion-menu-button>
            </ion-buttons>
          </ion-col>
          <ion-col size="10" class="ion-align-items-center ion-justify-content-center">
            <ion-title color="acentuado">
              <h1>+Info</h1>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

<ion-content>

</ion-content>
