<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      iPollution - Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row size="6" align-items-center>
      <ion-col size="3">
        <ion-card >
          <ion-card-content>
            <ion-grid > 
              <ion-row>
                <ion-col>
                  <p>Hola Pedro</p>
                  <p>Hoy hace un día nublado, te vendría bien llevar un paraguas.</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6" >
                  <h1>15º</h1>
                </ion-col>
                <ion-col size="6">
                  <ion-icon name="cloudy"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>