<ion-header>
  <ion-toolbar color="secundario">

    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-icon (click)="closeModal()" name="arrow-back" color="acentuado" size="large" expand="full"></ion-icon>
        </ion-col>

        <ion-col size="10">
            <ion-title color="acentuado" size="large" class="ion-text-center">{{tituloComponent}}</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list expand="full" slot="fixed">
    <ion-item>
      <ion-label position="floating">NobreNodo: </ion-label>
      <ion-input type="text" value="{{nombreNodo}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tipo nodo: </ion-label>
      <ion-input type="text" value="{{tipoNodo}}"></ion-input>
    </ion-item>
    <ion-item *ngIf="tipoModal != 'anyadir'">
      <ion-label position="floating">Usuario del nodo:: </ion-label>
      <ion-input type="text" value="{{usuarioNodo}}"></ion-input>
    </ion-item>
  </ion-list>
  <!-- Botones comfirmacion -->
  <!-- Botones comfirmacion -->
  <div class="ion-text-end" vertical="bottom" slot="fixed">
      <div *ngIf="tipoModal == 'anyadir'">
        <ion-button color="success" size="large" (click)="closeModal('guardar')">
          <ion-icon size="large" name="save"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="tipoModal != 'anyadir'">
        <ion-button color="danger" size="large" (click)="closeModal('eliminar')">
          <ion-icon size="large" name="trash"></ion-icon>
        </ion-button>
      </div>
    </div>
</ion-content>