<ion-header>
  <ion-toolbar color="secundario">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="2">
          <ion-buttons>
            <ion-menu-button color="acentuado"></ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="10" class="ion-align-items-center ion-justify-content-center">
          <ion-title color="acentuado">
            <h1>+Info | Tips</h1>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="12">
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-align-items-center ion-justify-content-end">
                <ion-col size="2">
                  <ion-img src="assets/icon/consejo.svg" class="ico-consejo"></ion-img>
                </ion-col>
                <ion-col>
                  <ion-label>
                    <h2><b>
                        Consejos para respirar un aire más limpio:
                      </b></h2>
                  </ion-label>
                  <br>
                  <ion-label>
                    <h3 >
                      Intenta evitar pasear por calles transitadas en hora punta.
                    </h3>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- Card ozono -->
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-align-items-center ion-justify-content-end">
                <ion-col size="3">
                  <ion-img src="assets/icon/ozone.svg" class="img-home"></ion-img>
                </ion-col>
                <ion-col>
                  <ion-label>El ozono es un gas tóxico que afecta principalmente al aparato respiratorio e irritando las mucosas, pudiendo llegar a producir afecciones pulmonares. El aparato respiratorio es el principal perjudicado por la acción del
                    ozono, siendo los primeros síntomas que se detectan tras una exposición al mismo tos, dolor de cabeza, náuseas, dolores pectorales, y acortamiento de la respiración. Estos síntomas se han observado para concentraciones de ozono
                    alrededor de 240 µg/m3 (umbral de alerta). Si los niveles de ozono superan este nivel puede producirse también inflamaciones pulmonares, hiper-reactividad de las vías respiratorias y un grave deterioro de la actividad pulmonar.
                  </ion-label>
                  <br>
                  <ion-label>
                    Los valores límite que soporta un ser humano no deberían exceder nunca los 150-200 µg/m3 durante una hora o los 100-120 µg/m3 en 8 horas.
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Card co2 -->
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-align-items-center ion-justify-content-end">
                <ion-col size="3">
                  <ion-img src="assets/icon/co2.svg" class="img-home"></ion-img>
                </ion-col>
                <ion-col>
                  <ion-label>El CO2 no es realmente un tóxico, en el sentido de daño o envenenamiento por inhalación, ya que realmente es un gas que los seres vivos exhalan en su respiración. Se encuentra de forma natural en el aire ambiente en
                    concentraciones que varían entre 300 ppm a 550 ppm dependiendo de si medimos en entornos rurales o urbanos.</ion-label>
                  <br>
                  <ion-label>El principal efecto que produce el CO2 es la asfixia por desplazamiento del oxígeno, pero esto se produce por concentraciones muy altas capaces de desplazar el oxígeno y reducir su concentración por debajo del 20%. En
                    concentraciones altas, cercanas a la 30.000 ppm, puede causar dolores de cabeza, falta de concentración, somnolencia, mareos y problemas respiratorios. En entornos laborales, como oficinas, se comienzan a tener quejas de olores a
                    partir de las 800-1000 ppm.
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- Card tiempo -->
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-align-items-center ion-justify-content-end">
                <ion-col size="3">
                  <ion-img src="assets/icon/so2.svg" class="img-home"></ion-img>
                </ion-col>
                <ion-col>
                  <ion-label>El Dióxido de azufre es un gas incoloro, irritante, con un olor penetrante que se comienza a percibir con 0,3 a 1,4 ppm y es perfectamente distinguible a partir de 3 ppm -partes por millón-.
                  </ion-label>
                  <br>
                  <ion-label>
                    La principal fuente de emisión de dióxido de azufre a la atmósfera es la combustión de productos petrolíferos y la quema de carbón en centrales eléctricas y calefacciones centrales. Existen también algunas fuentes naturales, como
                    es el caso de los volcanes.
                  </ion-label>
                  <br>
                  <ion-label>
                    La contaminación del aire por SO2 causa los siguientes efectos: dificultad para respirar, inflamación de las vías respiratorias, irritación ocular por formación de ácido sulfuroso sobre las mucosas húmedas, alteraciones
                    psíquicas, edema pulmonar, paro cardíaco, asma y bronquitis crónica.
                    El valor límite de este contaminante para personas es de 300 µg/m3.
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- Card co2 -->
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-align-items-center ion-justify-content-end">
                <ion-col size="3">
                  <ion-img src="assets/icon/co.svg" class="img-home"></ion-img>
                </ion-col>
                <ion-col>
                  <ion-label>La intoxicación por monóxido de carbono sucede cuando se acumula monóxido de carbono en el torrente sanguíneo. Cuando hay demasiado monóxido de carbono en el aire, el cuerpo reemplaza el oxígeno en los glóbulos rojos con
                    monóxido de carbono. Esto puede generar un daño grave en el tejido, o incluso la muerte.</ion-label>
                  <br>
                  <ion-label>Entre los signos y síntomas de la intoxicación por monóxido de carbono se pueden incluir los siguientes: dolor de cabeza sordo, debilidad, mareos, náuseas o vómitos, falta de aire, desorientación, visión borrosa o
                    pérdida del conocimiento.
                  </ion-label>
                  <br>
                  <ion-label>Los valores límite que no se deben exceder son 100 mg/m3 (≈ 90 ppm) durante 15 minutos, 60 mg/m3 (≈ 50 ppm) durante 30 minutos, 30 mg/m3 (≈ 25 ppm) durante 1 hora o 10 mg/m3 (≈ 10 ppm) durante 8 horas.
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
