/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// Colores app

.ion-color-primario {
    --ion-color-base: var(--ion-color-primario);
    --ion-color-base-rgb: var(--ion-color-primario-rgb);
    --ion-color-contrast: var(--ion-color-primario-contrast);
    --ion-color-contrast-rgb: var(--ion-color-primario-contrast-rgb);
    --ion-color-shade: var(--ion-color-primario-shade);
    --ion-color-tint: var(--ion-color-primario-tint);
}

.ion-color-secundario {
    --ion-color-base: var(--ion-color-secundario);
    --ion-color-base-rgb: var(--ion-color-secundario-rgb);
    --ion-color-contrast: var(--ion-color-secundario-contrast);
    --ion-color-contrast-rgb: var(--ion-color-secundario-contrast-rgb);
    --ion-color-shade: var(--ion-color-secundario-shade);
    --ion-color-tint: var(--ion-color-secundario-tint);
}

.ion-color-acentuado {
    --ion-color-base: var(--ion-color-acentuado);
    --ion-color-base-rgb: var(--ion-color-acentuado-rgb);
    --ion-color-contrast: var(--ion-color-acentuado-contrast);
    --ion-color-contrast-rgb: var(--ion-color-acentuado-contrast-rgb);
    --ion-color-shade: var(--ion-color-acentuado-shade);
    --ion-color-tint: var(--ion-color-acentuado-tint);
}

.ion-color-texto {
    --ion-color-base: var(--ion-color-texto);
    --ion-color-base-rgb: var(--ion-color-texto-rgb);
    --ion-color-contrast: var(--ion-color-texto-contrast);
    --ion-color-contrast-rgb: var(--ion-color-texto-contrast-rgb);
    --ion-color-shade: var(--ion-color-texto-shade);
    --ion-color-tint: var(--ion-color-texto-tint);
}

.ion-color-titulo {
    --ion-color-base: var(--ion-color-titulo);
    --ion-color-base-rgb: var(--ion-color-titulo-rgb);
    --ion-color-contrast: var(--ion-color-titulo-contrast);
    --ion-color-contrast-rgb: var(--ion-color-titulo-contrast-rgb);
    --ion-color-shade: var(--ion-color-titulo-shade);
    --ion-color-tint: var(--ion-color-titulo-tint);
}

.ion-color-subtitulo {
    --ion-color-base: var(--ion-color-subtitulo);
    --ion-color-base-rgb: var(--ion-color-subtitulo-rgb);
    --ion-color-contrast: var(--ion-color-subtitulo-contrast);
    --ion-color-contrast-rgb: var(--ion-color-subtitulo-contrast-rgb);
    --ion-color-shade: var(--ion-color-subtitulo-shade);
    --ion-color-tint: var(--ion-color-subtitulo-tint);
}

.ion-color-normal {
    --ion-color-base: var(--ion-color-normal);
    --ion-color-base-rgb: var(--ion-color-normal-rgb);
    --ion-color-contrast: var(--ion-color-normal-contrast);
    --ion-color-contrast-rgb: var(--ion-color-normal-contrast-rgb);
    --ion-color-shade: var(--ion-color-normal-shade);
    --ion-color-tint: var(--ion-color-normal-tint);
}