    <ion-card>
      <ion-card-content>
          <ion-row>
            <ion-col>
              <ion-label>Hoy hace un día nublado, te vendría bien llevar un paraguas.</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col size="6">
              <h1>15º</h1>
            </ion-col>
            <ion-col size="6">
              <ion-img src="assets/cloudy.svg" class="img-home"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <br>
            </ion-col>
          </ion-row>
      </ion-card-content>
    </ion-card>
