<ion-header>
    <ion-toolbar color="secundario">

        <ion-grid>
            <ion-row style="justify-content: space-around; align-items: center;">
                <ion-icon (click)="closeModal()" name="arrow-back" color="acentuado" size="large" expand="full">
                </ion-icon>
                <ion-title mode="ios" color="acentuado" size="large" class=" ion-text-center" expand="full">
                    {{tituloComponent}}
                </ion-title>
            </ion-row>
        </ion-grid>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-toolbar color="secundario" vertical="top" horizontal="start" slot="fixed">
        <ion-segment (ionChange)="cambiarModoRutas($event.target.value)">
            <ion-segment-button value="editar">
                <ion-label>Editar</ion-label>
            </ion-segment-button>
            <ion-segment-button value="crear">
                <ion-label>Crear</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>


    <ion-item vertical="top" horizontal="start" slot="fixed">
        <ion-grid>
            <ion-row style="justify-content: space-around; align-items: center;" *ngIf="tipoModal == 'crear'">
                <ion-item>
                    <ion-label position="floating">Latitud: </ion-label>
                    <ion-input type="number" [(ngModel)]="nuevoPuntoLat" id="input"> </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Longitud: </ion-label>
                    <ion-input type="number" [(ngModel)]="nuevoPuntoLng" id="input"> </ion-input>
                </ion-item>
            </ion-row>
            <ion-row style="justify-content: space-around; align-items: center;" *ngIf="tipoModal == 'crear'">
                <ion-button color="warning" (click)="anyadirPuntoRuta()">
                    <ion-icon name="add"></ion-icon>
                    <ion-label>Añadir Punto</ion-label>
                </ion-button>

                <ion-button color="danger" (click)="eliminarUltimoPuntoRuta()">
                    <ion-icon name="redo"></ion-icon>
                    <ion-label>Eliminar ultimo punto</ion-label>

                </ion-button>

                <ion-button color="success" (click)="presentAlertConfirmRuta()">
                    <ion-icon name="save">Guardar</ion-icon>
                    <ion-label>Guardar</ion-label>

                </ion-button>
            </ion-row>

            <ion-row *ngIf="tipoModal == 'editar'" style="justify-content: space-around; align-items: center;">
                <ion-col size="10" *ngIf="tituloComponent == 'Rutas Predefinidas'">
                    <ion-item>
                        <ion-label>
                            <h3>Rutas predefinidas:</h3>
                        </ion-label>

                        <ion-select #selectPredefinidas name="selectRutaPredefinida" multiple="false"
                            cancelText="Cancelar" okText="Cargar" [(ngModel)]="rutaSeleccionadaPredefinida"
                            [compareWith]="compareById" (ionChange)="onSelectRutaPredefinida()" color="secundario"
                            expand="full" interface="action-sheet" mode="ios">
                            <ion-select-option *ngFor="let ruta of rutasPredefinidas" value="{{ ruta.nombreRuta }}"
                                color="acentuado">
                                Ruta - {{ ruta.nombreRuta }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>

                <ion-col size="2">
                    <ion-button size="medium" color="danger" (click)="abrirSelect('selectPredefinidasAEliminar')">
                        <ion-icon name="trash"></ion-icon>
                    </ion-button>
                </ion-col>



            </ion-row>
        </ion-grid>
    </ion-item>

    <div hidden>
        <ion-select #selectPredefinidasAEliminar name="rutaSeleccionadaPredefinidaAEliminar" multiple="false"
            cancelText="Cancelar" okText="Eliminar" [(ngModel)]="rutaSeleccionadaPredefinidaAEliminar"
            [compareWith]="compareById" (ionChange)="onSelectRutaPredefinidaAEliminar()" color="secundario"
            expand="full" interface="alert" mode="ios">
            <ion-select-option *ngFor="let ruta of rutasPredefinidas" value="{{ ruta.nombreRuta }}" color="acentuado">
                Ruta - {{ ruta.nombreRuta }}
            </ion-select-option>
        </ion-select>
    </div>

    <div #mapElement class="mapElement" slot="fixed" expand="block"></div>

</ion-content>