<app-header title="Admin | Nodos"></app-header>

<ion-content>
  <!-- <app-admin-toolbar iconoAnyadir="add"  placeHolder="Busca el nodo deseado" funcionFiltrado="filterList($event)" abrirModalAnyadir="openModal(undefined,'anyadir')"></app-admin-toolbar> -->
  <!-- <app-lista-objetos objects="nodos" abrirModal="openModal(item,'editar')" tituloLista="Nodos" nombreObjecto="idSensor"> </app-lista-objetos> -->

  <!-- Por si no van los components version antigua-->
  <ion-grid>
    <ion-row style="justify-content: space-around">
      <ion-button>Boton1</ion-button>
      <ion-button>Boton2</ion-button>
      <ion-button>Boton3</ion-button>
      <ion-col size="12">
        <ion-toolbar expand="full">
          <ion-searchbar slot="start" autocomplete="on" inputmode="text" placeholder="Busca el nodo que quieras" (ionInput)="filterList($event)">
          </ion-searchbar>
          <ion-button slot="end" color="success" disabled="false" (click)="openModal(undefined,'anyadir')">
            <ion-icon name="person-add" size="large" expand="block"></ion-icon>
          </ion-button>
        </ion-toolbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-list>
            <ion-list-header>
              <ion-title>Lista de nodos:</ion-title>
            </ion-list-header>
              <ion-item *ngFor="let item of nodos" (click)="openModal(item,'editar')">
                Nodo {{ item.idSensor }}
              </ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
